<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/angularjs-gauge@2.2.0/dist/angularjs-gauge.min.js'></script>
<script>
    // set your channel's read api key here if necessary
    var api_key = '39YJM4SS4Q8ZCZT0';
    // set your channel id here
    var channel_id = 369399;
    // global variables
    var data;

    var app = angular
    .module('gauges', ['angularjs-gauge'])

    app.controller('MainController', function($scope, $http, $interval) {
        var values = this;
        var url = 'https://api.thingspeak.com/channels/'+channel_id+'/feed/last.json?api_key='+api_key

        values.tempThresholds = {
            '0': { color: 'blue' },
            '20': { color: 'green' },
            '30': { color: 'orange' },
            '35': { color: 'red' }
        }

        values.umiThresholds = {
            '0': { color: 'red' },
            '30': { color: 'orange' },
            '50': { color: 'green' },
            '70': { color: 'blue' }
        }

        values.lumiThresholds = {
            '0': { color: 'black' },
            '200': { color: 'SaddleBrown' },
            '300': { color: 'yellow' },
            '500': { color: 'LightGoldenRodYellow' },
            '800': { color: 'Azure' }
        }


        values.temperatura = 0
        values.umidade_ar = 0
        values.ponto_orvalho = 0
        values.luminosidade = 0
        values.umidade_solo = 0

        $interval(function() {
            $http.get(url)
                .then(function(res) {
                    values.temperatura = res.data.field1
                    values.umidade_ar = res.data.field2
                    values.ponto_orvalho = res.data.field3
                    values.luminosidade = res.data.field5
                    values.umidade_solo = res.data.field6
                })
        }, 1500)

    })

</script>
<div ng-app='gauges'>
    <div id='chart_div'></div>
    <div ng-controller='MainController as main'>
        <ng-gauge size="130" type="arch" thick="10" 
                  min="0" max="60" value="main.temperatura" thresholds='main.tempThresholds'
                  cap="round" label="Temperatura" append="&deg;C">
        </ng-gauge>
        <ng-gauge size="130" type="arch" thick="10" 
                  min="0" max="100" value="main.umidade_ar" thresholds='main.umiThresholds'
                  cap="round" label="Umidade do Ar" append="%">
        </ng-gauge>
        <ng-gauge size="130" type="arch" thick="10" 
                  min="0" max="60" value="main.ponto_orvalho" 
                  cap="round" label="Ponto de Orvalho" append="&deg;C"
                  foreground-color="cyan" background-color="#EEE">
        </ng-gauge>
        <ng-gauge size="130" type="arch" thick="10" 
                  min="0" max="1024" value="main.luminosidade" 
                  cap="round" label="Luminosidade" append=""
                  thresholds='main.lumiThresholds'>
        </ng-gauge>
        <ng-gauge size="130" type="arch" thick="10" 
                  min="0" max="1024" value="main.umidade_solo" 
                  cap="round" label="Umidade do Solo" append=""
                  foreground-color="#ffcc66" background-color="#EEE">
        </ng-gauge>
    </div>
</div>
